################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNet/AspNetWebApiDemo/.vs
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/bin/Debug/net8.0
/DotNet/AspNetWebApiDemo/AspNetWebApiDemo/obj
/DotNet/ContactManager/.vscode
/DotNet/ContactManager/bin/Debug/net8.0
/DotNet/ContactManager/obj
/DotNet/CopilotDemo/.vs
/DotNet/CopilotDemo/CopilotDemo/bin/Debug/net8.0
/DotNet/CopilotDemo/CopilotDemo/obj
/DotNet/EntityFrameworkSqliteDemo/.vscode
/DotNet/EntityFrameworkSqliteDemo/bin/Debug/net8.0
/DotNet/EntityFrameworkSqliteDemo/obj
/DotNet/HelloWorld/bin/Debug/net8.0
/DotNet/HelloWorld/obj
/DotNet/HelloWorld2/bin/Debug/net8.0
/DotNet/HelloWorld2/obj
/DotNet/LinqDemo/.vs
/DotNet/LinqDemo/LinqDemo/bin/Debug/net8.0
/DotNet/LinqDemo/LinqDemo/obj
/DotNet/Numerotietotyypit/.vscode
/DotNet/Numerotietotyypit/bin/Debug/net8.0
/DotNet/Numerotietotyypit/obj
/DotNet/TiedostonLukujenSumma/.vscode
/DotNet/TiedostonLukujenSumma/bin/Debug/net8.0
/DotNet/TiedostonLukujenSumma/obj
/DotNet/XmlToCsvConversion/.vs
/DotNet/XmlToCsvConversion/XmlToCsvConversion/obj
/JavaScript/node_modules
/Python/FlaskSqlTietoturva/__pycache__
/DotNet/AspNetMvcTesti/.vs
/DotNet/AspNetMvcTesti/AspNetMvcTesti/bin/Debug/net8.0
/DotNet/AspNetMvcTesti/AspNetMvcTesti/obj
